<div class="modal fade" id="bookmarkModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-green-color"><span class="glyphicon glyphicon-plus"></span> Add new bookmark...</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="bookmarkForm" ng-submit="addBookmark()">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
                            <input type="url" pattern="^https?://.{2,}\..{2,}$" title="http://***.**" class="form-control" name="url" placeholder="http://..." ng-model="addFormData.url" ng-change="fillName()" autofocus required>
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
                            <input type="text" pattern="^\S.{0,100}" title="1-100 symbols, first symbol isn't whitespace" class="form-control" name="name" placeholder="Enter name..." ng-model="addFormData.name" ng-change="addFlag = true" required>
                        </div>
                        <br>
                        <a class="modal-show-more__font" role="button" data-toggle="collapse" href="#collapseAdd" aria-expanded="false" aria-controls="collapseAdd">
                            More...
                        </a>
                        <br>
                        <br>
                        <div class="collapse" id="collapseAdd">
                            <div class="form-group">
                                <label for="sel1">Select category:</label>
                                <select class="form-control" ng-model="addFormData.category" ng-options="category._id as category.name for category in categories">
                                </select>
                            </div>
                            <tags-input text="addTagText" ng-model="addFormData.selectedTags" min-length="3" max-length="20" max-tags="25">
                                <auto-complete source="loadTags($query)"></auto-complete>
                            </tags-input>
                            <br>
                            <textarea class="form-control" maxlength="200" title="No more than 200 characters" rows="3" name="comment" placeholder="Enter comment..." ng-model="addFormData.comment"></textarea>
                            <br>
                        </div>
                        <button type="submit"  class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-ok"></span> Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>