<div id="list" class="tab-pane fade mCustomScrollbar list-style" data-mcs-theme="dark-3">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12" ui-draggable="true" drag="{{bookmark}}" dir-paginate="bookmark in (bookmarks | orderBy: order: orderDirection) | itemsPerPage: 12 | searchFor: searchInput ">
            <div class=" row list-item list-panel">
                <div class="col-md-6 col-xs-63 col-sm-6 text-length-crop">
                    <span><img ng-src="{{bookmark.url|faviconUrl}}/favicon.ico" err-src="/images/logoImage.png" width="16" height="16"></span>
                    <a target="_blank" href="{{bookmark.url}}">{{bookmark.name}}</a>&nbsp;
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4 text-length-crop">
                    {{bookmark.url}}
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2 text-length-crop text-right inner_data">
                    {{bookmark.date | date: 'longDate'}}
                </div>
                <div class="inner list-position">
                    <button onfocus="this.blur();" ng-click="deleteBookmarkById(bookmark._id)" class="close inner" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                    <button onfocus="this.blur();" ng-click="getCurrentBook(bookmark._id)" class="close inner" type="button"><span class="glyphicon glyphicon-pencil"></span>&nbsp;</button>
                    <button onfocus="this.blur();" ng-click="setFavorite(bookmark._id, !bookmark.is_favorite)" class="close inner" type="button"><span ng-style="{'color': bookmark.is_favorite ? 'red':'black'}" class="glyphicon glyphicon-heart red"></span>&nbsp;</button>
                </div>
            </div>
        </div>
    </div>
    <dir-pagination-controls template-url="/javascripts/angular/src/dirPagination.tpl.html"></dir-pagination-controls>
</div>