<div id="bars" class="tab-pane fade in active mCustomScrollbar grid-bar-style" data-mcs-theme="dark-3">
    <div class="row">
        <div class="col-md-3 col-xs-6 col-sm-4" ui-draggable="true" drag="{{bookmark}}" dir-paginate="bookmark in (bookmarks | orderBy: order: orderDirection) | itemsPerPage: 12 | searchFor: searchInput ">
            <div class="thumbnail relative-thumb video">
                <img ng-if="!checkUrlOnYoutube(bookmark.url)" ng-src="http://pwcdb.cloudapp.net/snap/{{bookmark.url|domainURL}}" err-src="/images/placeholder.png"/>
                <div class="video" ng-if="checkUrlOnYoutube(bookmark.url)" style="position:absolute;width:96%;height:80%;">
                    <youtube-video style="box-sizing:content-box" player-Width="'100%'" player-Height="'100%'" video-id="checkUrlOnYoutube(bookmark.url)"></youtube-video>
                </div>
                <img ng-if="checkUrlOnYoutube(bookmark.url)" src="/images/white.png"/>
                <div class="inner tooltip-block tooltip_position">
                    <font class="grid-book-text">&nbsp;{{bookmark.date | date: 'longDate'}}</font>
                    <button onfocus="this.blur();" ng-click="deleteBookmarkById(bookmark._id)" class="close inner" type="button" style="padding-top: 3px;"><span class="glyphicon glyphicon-remove"></span>&nbsp;</button>
                    <button onfocus="this.blur();" ng-click="getCurrentBook(bookmark._id)" class="close inner" type="button" style="padding-top: 3px;"><span class="glyphicon glyphicon-pencil"></span>&nbsp;</button>
                    <button onfocus="this.blur();" ng-click="setFavorite(bookmark._id, !bookmark.is_favorite)" class="close inner" type="button" style="padding-top: 3px;"><span ng-style="{'color': bookmark.is_favorite ? 'red':'black'}" class="glyphicon glyphicon-heart red"></span>&nbsp;</button>
                </div>
                <div class="caption text-length-crop">
                    <a target="_blank" href="{{bookmark.url}}">{{bookmark.name}}</a>
                </div>
            </div>
        </div>
    </div>
    <dir-pagination-controls template-url="/javascripts/angular/src/dirPagination.tpl.html"></dir-pagination-controls>
</div>