<div class="panel panel-default  hidden-xs hidden-sm">
    <div class="panel-heading panel-header-font">My categories:</div>
    <div class="panel-body mCustomScrollbar panel-body" data-mcs-theme="dark-3">
        <div class="ui-tree" ui-tree id="tree-root" data-nodrop-enabled="true">
            <ol ui-tree-nodes ng-model="categoriesTree">
                <li ng-repeat="category in categoriesTree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </div>
    </div>
</div>