<div class="hr container-align-center  hidden-xs hidden-sm">
    <font>New bookmark: </font>
    <button ng-if="currentCategory!=1" type="button" class="btn btn-default expand-button" aria-label="Left Align" ng-click="openBookmarkModal()">
        <big><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></big>
    </button>
    <button disabled ng-if="currentCategory==1" type="button" class="btn btn-default expand-button" aria-label="Left Align" ng-click="openBookmarkModal()">
        <big><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></big>
    </button>
    <font>New category: </font>
    <button type="button" class="btn btn-default expand-button" aria-label="Left Align" ng-click="openCategoryModal(0)">
        <big><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></big>
    </button>
</div>