<div class="modal fade" id="editCategoryModal" role="dialog" >
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-green-color"><span class="glyphicon glyphicon-plus"></span> Edit category...</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="categoryForm" ng-submit="editCategory()">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
                        <input type="text" pattern="^\S.{0,20}" title="1-20 symbols, first symbol isn't whitespace" class="form-control" name="name" ng-model="editNameCategory" autofocus placeholder="Enter name..."
                               required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="sel1">Select parent category:</label>
                        <select class="form-control" ng-model="newCategory" ng-options="category._id as category.name for category in categoriesForEdit">
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-default btn-success btn-block"><span class=" glyphicon glyphicon-floppy-saved"></span> Save</button>
                </form>
            </div>
        </div>
    </div>
</div>