<hr class="hidden-md hidden-lg"/>
<div class=" hidden-md hidden-lg" data-mcs-theme="dark-3">
        <div class="card-view" ng-repeat="bookmark in (bookmarks | orderBy: order: orderDirection) | searchFor: searchInput ">
            <div class="row">
                <div ng-click="openUrl(bookmark.url)" class="col-md-4 col-xs-4 col-sm-4 text-length-crop">
                        <img class="img-mobile" ng-src="http://pwcdb.cloudapp.net/snap/{{bookmark.url|domainURL}}" err-src="/images/placeholder.png"/>
                </div>
                <div ng-click="openUrl(bookmark.url)" class="col-md-6 col-xs-6 col-sm-6 text-length-crop mobile-card-content">
                    {{bookmark.name}}
                    <br>
                    <br>
                    {{bookmark.url}}
                    <br>
                    <br>
                    {{bookmark.date | date: 'longDate'}}
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2 text-length-crop">
                    <button onfocus="this.blur();" ng-click="deleteBookmarkById(bookmark._id)" class="close-mobile inner" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                    <br>
                    <button onfocus="this.blur();" ng-click="getCurrentBook(bookmark._id)" class="close-mobile inner" type="button"><span class="glyphicon glyphicon-pencil"></span>&nbsp;</button>
                    <br>
                    <button onfocus="this.blur();" ng-click="setFavorite(bookmark._id, !bookmark.is_favorite)" class="close-mobile inner" type="button"><span ng-style="{'color': bookmark.is_favorite ? 'red':'black'}" class="glyphicon glyphicon-heart red"></span>&nbsp;</button>
                </div>
            </div>
        </div>
</div>