<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster" />
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/bower_components/bootstrap-combobox/css/bootstrap-combobox.css" />
<link rel="stylesheet" href="/bower_components/ng-tags-input/ng-tags-input.min.css" />
<link rel="stylesheet" href="/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css">
<link rel="stylesheet" href="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />
<link rel="stylesheet" href="/bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
<link rel="stylesheet" href="/stylesheets/media.css" />
<link rel="stylesheet" href="/stylesheets/main.css" />
<link rel="stylesheet" href="/stylesheets/kc.fab.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="/stylesheets/mfb.min.css" rel="stylesheet">

<!-- Move scripts to the end of the page, it's important! -->

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/bootstrap-combobox/js/bootstrap-combobox.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
<script src="/bower_components/ng-tags-input/ng-tags-input.min.js"></script>
<script src="/javascripts/angular/src/app.js"></script>
<script src="/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>

<!-- Install proper modules with a bower -->
<script src="/javascripts/angular/src/dirPagination.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/mfb.min.js"></script>
<script src="/javascripts/kc.fab.min.js"></script>
<script src="/javascripts/angular/src/filters.js"></script>
<script src="/javascripts/angular/src/directives.js"></script>
<script src="/javascripts/angular/src/services.js"></script>
<script src="/javascripts/angular/src/drag-and-drop.js"></script>
<script src="/javascripts/angular/src/ng-youtube.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>