<div class="row hidden-xs hidden-sm" >
    <div id="infoDiv" class="tab-content">
        <div id="pathElem" class="tab-pane fade in active">
            <div class="row"><div class="col-md-12"><hr /></div><br />
                <div class="col-md-12">
                    <a ng-if="currentCategory > 1" class="cross pass" ng-repeat="categoryPath in path" ng-click="getBookmarks(categoryPath)">{{categoryPath.name}} <span>   /</span></a>
                    <a ng-if="currentCategory == 1" class="cross pass">Favorite</a>
                    <a ng-if="currentCategory == 0" class="cross pass">Unsorted</a>
                    <hr />
                </div>
            </div>
        </div>
        <div id="search-element" class="tab-pane fade">
            <div class="row"><div class="col-md-12"><hr /></div><br />
                <div class="col-md-12">
                    <div  class="pass"><font color="#337AB7"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Results for search in category: {{path[path.length-1].name}}</font></div>
                    <hr />
                </div>
            </div>
        </div>
        <div id="searchEverywhere" class="tab-pane fade">
            <div class="row"><div class="col-md-12"><hr /></div><br />
                <div class="col-md-12">
                    <div  class="pass"><font color="#337AB7"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Results for search everywhere</font></div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>