<div class="hidden-md hidden-lg">
    <div class="row">
        <div class="col-md-4 col-xs-4 col-sm-4 text-length-crop">
            <p style="font-size: 20px;">{{path[path.length-1].name}} </p>
        </div>
        <div class="col-md-8 col-xs-8 col-sm-8">
        <form>
            <div class="input-group">
                <span class="input-group-addon">
                <input class="search-checkbox-mobile" type="checkbox" ng-model="isEverywhere" ng-change="getContent()"
                       data-hover='tooltip' data-placement='bottom' data-original-title="Global search">
                </span>
                <input id="inputSer" type="text" class="form-control zbz-input-clearable search-input-mobile"
                       ng-model="searchInput" ng-change="getContent()" placeholder="Search for...">
            </div>
        </form>
        </div>
    </div>
</div>