<div class="row hidden-xs hidden-sm">
    <!-- List/grid view switch -->
    <div class="col-md-3 col-xs-12 col-sm-12">
        <form class="form-inline">
            <label>View: </label>
            <div class="btn-group">
                <a type="button" data-toggle="tab" href="#bars" class="btn btn-default"><span class="glyphicon glyphicon-th-large"></span></a>
                <a type="button" data-toggle="tab" href="#list" class="btn btn-default" ><span class="glyphicon glyphicon-th-list"></span></a>
            </div>
        </form>
    </div>
    <!-- Order by switch -->
    <div class="col-md-4 col-xs-12 col-sm-12">
        <form class="form-inline">
            <label>Sort: </label>
            <div class="btn-group">
                <button type="button" ng-click="orderDirection=true" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
                <button type="button" ng-click="orderDirection=false" class="btn btn-default" aria-label="Right Align"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
            </div>
            <select class="form-control row-inline-block" ng-model="order" id="orderSelect" ng-options="option.id as option.text for option in orderOptions" data-width="auto">
            </select>
        </form>
    </div>
    <!-- Search field -->
    <div class="col-md-5 col-xs-12 col-sm-12">
        <form class="form-inline">
            <div class="input-group content-float-right">
                <span class="input-group-addon">
                <input class="search-checkbox" type="checkbox" ng-model="isEverywhere" ng-change="getContent()" data-hover='tooltip' data-placement='bottom' data-original-title="Global search">
                </span>
                <input id="inputSer" type="text" class="form-control zbz-input-clearable search-input" ng-model="searchInput" ng-change="getContent()" placeholder="Search for...">
            </div>
        </form>
    </div>
</div>