<script type="text/ng-template" id="nodes_renderer.html">
    <div ng-click="getBookmarks(category)" ui-tree-handle class="tree-node tree-node-content" data-nodrag id="{{category._id}}" ui-on-drop="onDrop(category, $data)" style="cursor: default;">
        <a class="btn btn-info btn-xs my_link item-prop" ng-if="category.children && category.children.length > 0" data-nodrag ng-click="toggle(this)"><span
                    class="glyphicon"
                    ng-class="{
          'glyphicon-chevron-down': collapsed,
          'glyphicon-chevron-right': !collapsed
        }"></span></a>
        <button class="btn btn-primary btn-xs ui_button" data-nodrag disabled style="cursor: default;"><span ng-if="category._id!=0 && category._id!=1"
                                                                                                             class="glyphicon glyphicon-folder-open"></span><span ng-if="category._id==1" class="glyphicon glyphicon-heart red"></span><span class="glyphicon glyphicon-briefcase" ng-if="category._id==0"></span></button>
        <font class="tree">{{category.name}}</font>
        <div class="dropup category-tooltip">
            <button ng-if="category._id!=0 && category._id!=1" type="button" class="btn btn-default expand-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-option-vertical"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right category-menu-size">
                <li>
                    <a href="#" ng-click="openCategoryModal(category._id)"><span class="glyphicon glyphicon-plus"></span> Add subcategory</a>
                </li>
                <li>
                    <a href="#" ng-click="openEditCategoryModal()"><span class="glyphicon glyphicon-pencil"></span> Edit category</a>
                </li>
                <li>
                    <a href="#" ng-click="deleteCategoryById(category._id)"><span class="glyphicon glyphicon-remove"></span> Remove category</a>
                </li>
            </ul>
        </div>
    </div>
    <ol ui-tree-nodes="" ng-model="category.children" ng-class="{hidden: !collapsed}">
        <li ng-repeat="category in category.children" ui-on-drop="onDrop(category, $data)" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>