<div class="row-inline-block">
    <button style="display: inline-block" onfocus="this.blur();" class="menu-button-categories hidden-md hidden-lg"><span
                class="glyphicon glyphicon-folder-open"></span></button>
    <p class="logo-text logo-font-mobile hidden-md hidden-lg ">PWC</p>
    <button style="display: inline-block" onfocus="this.blur();" class="user-button hidden-md hidden-lg"><span
                class="glyphicon glyphicon-user"></span></button>
    <img class="hidden-xs hidden-sm" src="images/logoImage.png" height="32" width="32">
    <font class="logo-font hidden-xs hidden-sm">&nbsp;PWC</font>
    <div class="user-buttons user  shadow-bottom hidden-md hidden-lg">
        <div class="user-action-button">
            <a onfocus="this.blur();" href="#" ng-click="deleteUser()"><span class="glyphicon glyphicon-cog"></span><font class="user">&nbsp;&nbsp;Delete
                    account</font></a>
        </div>
        <div class="horisontal-line"></div>
        <div class="user-action-button">
            <a onfocus="this.blur();" href="/logout"><span class="glyphicon glyphicon-log-out"></span><font class="user">&nbsp;&nbsp;Log
                    out</font></a>
        </div>
        </ul>
    </div>
    <div class="menu-buttons shadow-bottom hidden-md hidden-lg">
        <div class="ui-tree" ui-tree id="tree-root" data-nodrop-enabled="true">
            <ol ui-tree-nodes ng-model="categoriesTree">
                <li ng-repeat="category in categoriesTree" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </div>
    </div>
    <div class="btn-group content-float-right user hidden-xs hidden-sm">
        <button type="button" id="user" class="btn btn-default" disabled><span class="glyphicon glyphicon-user"></span>
        </button>
        <button type="button" id="user" class="btn btn-default" disabled><font
                    class="user">{{userInformation.name}}</font></button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="menu-li-align">
                <font class="user">&nbsp;{{userInformation.name}}&nbsp;</font>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#" ng-click="deleteUser()"><span class="glyphicon glyphicon-cog"></span><font class="user">
                        &nbsp;&nbsp;Delete account</font></a>
            </li>
            <li>
                <a href="/logout"><span class="glyphicon glyphicon-log-out"></span><font class="user">&nbsp;&nbsp;Log
                        out</font></a>
            </li>
        </ul>
    </div>
</div>