<html>

<head>
   <meta charset="UTF-8">
   <style>
   body{
    background-color: rgb(237,237,237);
   } 
   .center{
      text-align:center;
      font-family:fantasy;
      margin-top:30vh;
   }
   </style>
   </head>
   <body>
   <img src="/images/404.jpg" style="float: right;">
   <br>
   <br>
   <br>
   <div class="center">
   <h1><%= message %></h1>
   <h2><%= error.status %></h2>
   </div>
   </body>

</html>