<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Personal Web Clipper for adding and managing bookmarks">
    <meta name="keywords" content="PWC, bookmark, category, Personal, Clipper">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Personal Web Clipper</title>

    <!-- All source files and links -->
    <% include ./partials/requirements %>

</head>

<body ng-app="pwcModule" ng-controller="AccountController" >

<!--<div class="kc_fab_wrapper">
</div> -->
<ul id="menu" class="mfb-component--br mfb-zoomin hidden-md hidden-lg" data-mfb-toggle="hover">
    <li class="mfb-component__wrap">
        <a href="#" class="mfb-component__button--main">
            <i class="mfb-component__main-icon--resting fa fa-plus"></i>
            <i class="mfb-component__main-icon--active fa fa-times"></i>
        </a>
        <ul class="mfb-component__list">
            <li>
                <a href="#" ng-click="openCategoryModal(0)"
                   data-mfb-label="Add category" class="mfb-component__button--child">
                    <i class='mfb-component__child-icon fa fa-folder-open' aria-hidden='true'></i>
                </a>
            </li>
            <li>
                <a ng-if="currentCategory!=1" href="#" ng-click="openBookmarkModal()" data-mfb-label="Add bookmark" class="mfb-component__button--child">
                    <i class='mfb-component__child-icon fa fa-bookmark' aria-hidden='true'></i>
                </a>
            </li>
        </ul>
    </li>
</ul>


<!-- Script for the formation of a recursive tree -->
<% include ./partials/treeItem %>

<div class="container-fluid main-container">
    <div class="row">
        <!-- User + categories column -->
        <div class="col-md-4 col-xs-12 col-sm-12 user">
            <div>

                <!-- User information block -->
                <% include ./partials/userInfo %>

                <hr/>

                <!-- Block for manage a category -->
                <% include ./partials/currentCategory %>

                <hr class="hidden-xs hidden-sm"/>
            </div>

            <!-- Block for display all categories -->
            <% include ./partials/categoryList %>

        </div>

        <!-- Display controls + list/grid -->
        <div class="col-md-8 col-xs-12">

            <!-- View selector + search bar -->
            <% include ./partials/topBar %>

            <!-- Display info about search -->
            <% include ./partials/searchInfo %>

            <!-- Search field for mobile -->
            <% include ./partials/searchMobile.ejs %>

            <!-- Display mobile view -->
            <% include ./partials/mobileCardView.ejs %>

            <!-- Bookmarks display -->
            <div class="row col-sm-12 hidden-xs hidden-sm">
                <div class="tab-content row-content-right">

                    <!-- Grid view -->
                    <% include ./partials/bookmarkGridView %>

                    <!-- List view -->
                    <% include ./partials/bookmarkListView %>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for adding new category -->
<% include ./partials/addCategoryModal %>

<!-- Modal for editing category -->
<% include ./partials/editCategoryModal %>

<!-- Modal for adding new bookmark -->
<% include ./partials/addBookmarkModal %>

<!-- Modal for editing bookmark -->
<% include ./partials/editBookmarkModal.ejs %>

</body>
</html>