<!DOCTYPE html>

<html>

<head>
   <meta charset="UTF-8">
   <meta name="description" content="Free Personal Web Clipper for adding and managing bookmarks">
   <meta name="keywords" content="PWC, bookmark, category, Personal, Clipper">
   <title>
      Personal Web Clipper
   </title>
   <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
   <link rel="stylesheet" href="/stylesheets/login.css">
   <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lobster'>
</head>

<body>
   <div class="body"></div>
   <div class="grad"></div>
   <div class="imagex"> </div>
   <div class="transparentdiv"></div>
   <div class="header">
      <div> <img src="/images/logoImage.png"></div>
   </div>
   <div class="header2 logoText">
      <div>
         <p>Personal Web Clipper</p>
      </div>
   </div>
      <div class="container">
         <div class="fb-icon-bg"></div>
         <a id="decor" class="fb-bg" href="/auth/facebook"></a>
         <div class="twi-icon-bg"></div>
         <a id="decor" class="twi-bg" href="/auth/twitter"></a>
         <div class="g-icon-bg"></div>
         <a id="decor" class="g-bg" href="/auth/google"></a>
      </div>
   </div>
   <script src="/bower_components/bootstrap/dist/css/bootstrap.min.css"></script>
</body>

</html>
