html {
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-size: 12px;
}

.imagex {
	position: absolute;
	height: 20px;
	width: 20px;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
	z-index: 2;
}

.header img {
	height: 64px;
	width: 64px;
}

.transparentdiv {
	background-color: #fff;
	border-radius: 15px 15px 15px 15px;
	top: 50%;
	left: 50%;
	margin-top: -142px;
	margin-left: -235px;
	width: 476px;
	height: 260px;
	opacity: 0.7;
	position: absolute;
}

.body {
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(/images/logoBackground.jpg);
	background-size: cover;
	-webkit-filter: blur(2px);
	z-index: 0;
}

.grad {
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
	/* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header {
	position: absolute;
	top: calc(50% - 120px);
	left: calc(50% - 205px);
	z-index: 2;
}

.header div {
	float: left;
	color: #FFFFE0;
	font-family: 'Segoe UI Light', sans-serif;
	font-size: 35px;
	font-weight: 100;
	z-index: 3;
}

.header div span {
	color: #002121 !important;
	font-weight: 500px;
	z-index: 3;
}

.header2 {
	position: absolute;
	top: calc(50% - 110px);
	left: calc(50% - 125px);
	z-index: 2;
}

.header2 div {
	float: left;
	color: #002121;
	font-family: 'Segoe UI Light', sans-serif;
	font-size: 35px;
	z-index: 3;
}

.header2 div span {
	color: #002121 !important;
	z-index: 3;
}

.login input[type=button]:hover {
	opacity: 0.8;
}

.login input[type=button]:active {
	opacity: 0.6;
}

.login input[type=text]:focus {
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.9);
}

.login input[type=password]:focus {
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.9);
}

.login input[type=button]:focus {
	outline: none;
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
	color: rgba(255, 255, 255, 0.6);
}


/* Styles for buttons container */

.container {
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 110px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 3;
	font-size: 6px;
}


/* Facebook */

.fb-icon-bg {
	background: #354f88;
	height: 32px;
	margin: 0 0 -32px 0;
	width: 32px;
	cursor: pointer;
}

.fb-icon-bg:after {
	content: url(/images/facebook_32x32.png);
	display: block;
}

.fb-bg {
	background: #4e69a2;
	display: block;
	margin: 0 0 10px 32px;
	width: 183px;
	height: 32px;
	cursor: pointer;
	border-radius: 0px 2px 2px 0px;
	font-family: 'Segoe UI Light', sans-serif;
	font-size: 15px;
	font-weight: 400;
}

.fb-bg:after {
	color: #fff;
	content: "Sign in with Facebook";
	font-family: 'Segoe UI Light', sans-serif;
	height: 32px;
	left: 8%;
	position: relative;
	top: 22%;
	width: 260px;
}

.fb-bg:hover {
	cursor: pointer;
	background: #354f88;
}

.fb-bg:active {
	background: #354f88;
}


/* Twitter */

.twi-icon-bg:after {
	content: url(/images/twitter.png);
	display: block;
}

.twi-icon-bg {
	background: #2fa7e0;
	height: 32px;
	margin: 0 0 -32px 0;
	width: 32px;
	cursor: pointer;
}

.twi-bg {
	background: #2fa7e0;
	display: block;
	margin: 0 0 10px 32px;
	width: 183px;
	height: 32px;
	cursor: pointer;
	border-radius: 0px 2px 2px 0px;
	font-family: 'Segoe UI Light', sans-serif;
	font-size: 15px;
	font-weight: 400;
}

.twi-bg:after {
	color: #fff;
	content: "Sign in with Twitter";
	font-family: 'Segoe UI Light', sans-serif;
	height: 35px;
	left: 8%;
	position: relative;
	top: 22%;
	width: 260px;
}

.twi-bg:hover {
	cursor: pointer;
	background: #2587b4;
}

.twi-bg:active {
	background: #2587b4;
}


/* Google+ */

.g-icon-bg:after {
	content: url(/images/google_plus.png);
	display: block;
}

.g-icon-bg {
	background: #ce3e26;
	height: 32px;
	margin: 0 0 -32px 0;
	width: 32px;
	cursor: pointer;
}

.g-bg {
	background: #ce3e26;
	display: block;
	margin: 0 0 10px 32px;
	width: 183px;
	height: 32px;
	cursor: pointer;
	border-radius: 0px 2px 2px 0px;
	font-family: 'Segoe UI Light', sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
}

.g-bg:after {
	color: #fff;
	content: "Sign in with Google+";
	font-family: 'Segoe UI Light', sans-serif;
	height: 35px;
	left: 8%;
	position: relative;
	top: 22%;
	width: 260px;
}

.g-bg:hover {
	cursor: pointer;
	background: #A63101;
}

.g-bg:active {
	background: #A63101;
}

p {
	font-family: 'Lobster', cursive;
	font-size: 1.1em;
}
#decor{
	text-decoration: none;
}